vrf definition {{vrf_name}}
rd 100:{{id}}
{%- if ipv4 == True %}
address-family ipv4
  route-target export 100:{{id}}
  route-target import 100:{{id}}
exit-address-family
{% endif %}
{%- if ipv6 == True %}
 address-family ipv6
  route-target export 100:{{id}}
  route-target import 100:{{id}}
 exit-address-family
{% endif %}


