Value PREFIX_INFO (\s+)
Value CATCH_ANY (\s*\d*)

Start
 ^{CATCH_ANY} --> Record




#0203    au2jcore0-aujsw1                172.25.100.24/29        (au2jcore0 xover to aujsw1)
#0610    au2jsw0-au2jcore0               172.25.100.40/30        (au2jcore0 xover to au2jsw0)
#0611    aujsw3-au2jcore0                172.25.100.44/30        (au2jcore0 xover to aujsw3)
#0100    au2jsw2-au2jsw5                 172.25.102.0/30         (au2jsw2 xover to au2jsw5)
#0106    au2jsw2-au2jsw6                 172.25.102.4/30         (au2jsw2 xover to au2jsw6)
#XXXX    au2jsw0-crkt-xover1             172.25.102.16/30        (au2jsw0 xover-1 to crkt)
#XXXX    au2jsw0-crkt-xover2             172.25.102.20/30        (au2jsw0 xover-2 to crkt)
