###############################################################################################################################################################################################################################
###############################################################################################################################################################################################################################
###############################################################################################################################################################################################################################

{% if location == "au" %}

-- aujsw5 --

set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from source-address 8.28.65.0/24
{%- for cust_rtp_ip in cust_rtp_ip_list %}
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from destination-address {{cust_rtp_ip}}
{%- endfor %}
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from protocol udp
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from source-port 32768-65535
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from destination-port 0-1023
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny then count ccs1-{{customer.upper()}}-rtp-deny-in
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny then discard

set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from source-address 8.28.65.0/24
{%- for cust_rtp_ip in cust_rtp_ip_list %}
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from destination-address {{cust_rtp_ip}}
{%- endfor %}
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from protocol udp
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from source-port 32768-65535
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from destination-port 0-65535
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP then count ccs1-{{customer.upper()}}-rtp-in
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP then accept

    {% if ccs1_sip == "yes" %}
    {%- for vail_ip in vail_ip_list %}
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from source-address {{vail_ip}}
    {%- endfor %}
    {%- for cust_sip_ip in cust_sip_ip_list %}
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from destination-address {{cust_sip_ip}}
    {%- endfor %}
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from protocol udp
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from source-port 5060
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from destination-port 5060
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP then count ccs2-{{customer.upper()}}-sip-in
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP then accept
    {%- for vail_ip in vail_ip_list %}
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from source-address {{vail_ip}}
    {%- endfor %}
    {%- for cust_sip_ip in cust_sip_ip_list %}
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from destination-address {{cust_sip_ip}}
    {%- endfor %}
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from protocol udp
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from is-fragment
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG then count ccs2-{{customer.upper()}}-sip-frag-in
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG then accept
    {% endif %}

set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP from source-address 8.28.65.0/24
{%- for cust_rtp_ip in cust_rtp_ip_list %}
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP from destination-address {{cust_rtp_ip}}
{%- endfor %}
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP from protocol icmp
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP then count ccs1-{{customer.upper()}}-icmp-in
set firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP then accept

insert firewall family inet filter VLAN590-L3ENSIPVPN10G-IN term deny_vlan590-Temporary after term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP

set firewall family inet filter au-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from source-address 8.28.78.0/24
{%- for cust_rtp_ip in cust_rtp_ip_list %}
set firewall family inet filter au-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from destination-address {{cust_rtp_ip}}
{%- endfor %}
set firewall family inet filter au-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from protocol udp
set firewall family inet filter au-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from source-port 32768-65535
set firewall family inet filter au-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from destination-port 0-1023
set firewall family inet filter au-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny then count ccs2-{{customer.upper()}}-rtp-deny-in
set firewall family inet filter au-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny then discard

set firewall family inet filter au-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from source-address 8.28.78.0/24
{%- for cust_rtp_ip in cust_rtp_ip_list %}
set firewall family inet filter au-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from destination-address {{cust_rtp_ip}}
{%- endfor %}
set firewall family inet filter au-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from protocol udp
set firewall family inet filter au-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from source-port 32768-65535
set firewall family inet filter au-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from destination-port 0-65535
set firewall family inet filter au-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP then count ccs2-{{customer.upper()}}-rtp-in
set firewall family inet filter au-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP then accept

    {% if ccs2_sip == "yes" %}
    {%- for vail_ip in vail_ip_list %}
set firewall family inet filter au-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from source-address {{vail_ip}}
    {%- endfor %}
    {%- for cust_sip_ip in cust_sip_ip_list %}
set firewall family inet filter au-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from destination-address {{cust_sip_ip}}
    {%- endfor %}
set firewall family inet filter au-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from protocol udp
set firewall family inet filter au-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from source-port 5060
set firewall family inet filter au-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from destination-port 5060
set firewall family inet filter au-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP then count ccs2-{{customer.upper()}}-sip-in
set firewall family inet filter au-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP then accept
    {%- for vail_ip in vail_ip_list %}
set firewall family inet filter au-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from source-address {{vail_ip}}
    {%- endfor %}
    {%- for cust_sip_ip in cust_sip_ip_list %}
set firewall family inet filter au-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from destination-address {{cust_sip_ip}}
    {%- endfor %}
set firewall family inet filter au-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from protocol udp
set firewall family inet filter au-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from is-fragment
set firewall family inet filter au-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG then count ccs2-{{customer.upper()}}-sip-frag-in
set firewall family inet filter au-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG then accept
    {% endif %}

set firewall family inet filter au-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP from source-address 8.28.78.0/24
{%- for cust_rtp_ip in cust_rtp_ip_list %}
set firewall family inet filter au-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP from destination-address {{cust_rtp_ip}}
{%- endfor %}
set firewall family inet filter au-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP from protocol icmp
set firewall family inet filter au-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP then count ccs2-{{customer.upper()}}-icmp-in
set firewall family inet filter au-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP then accept

insert firewall family inet filter au-ccs2-IN term deny_vlan690 after term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP

###################################################################################################################################################
###################################################################################################################################################

-- aujsw2 --
{% for cust_sip_ip in cust_sip_ip_list %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from source-address {{cust_sip_ip}}
{%- endfor %}
{%- for vail_ip in vail_ip_list %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from destination-address {{vail_ip}}
{%- endfor %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from protocol udp
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from source-port 5060
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from destination-port 5060
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP then count {{customer.upper()}}-sip-in
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP then accept
{% for cust_sip_ip in cust_sip_ip_list %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from source-address {{cust_sip_ip}}
{%- endfor %}
{%- for vail_ip in vail_ip_list %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from destination-address {{vail_ip}}
{%- endfor %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from protocol udp
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from is-fragment
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG then count {{customer.upper()}}-sip-frag-in
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG then accept
{% for cust_rtp_ip in cust_rtp_ip_list %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from source-address {{cust_rtp_ip}}
{%- endfor %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from destination-address 8.28.65.0/24
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from destination-address 8.28.78.0/24
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from protocol udp
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from source-port 0-1023
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from destination-port 32768-65535
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny then count {{customer.upper()}}-rtp-deny-in
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny then discard
{% for cust_rtp_ip in cust_rtp_ip_list %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from source-address {{cust_rtp_ip}}
{%- endfor %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from destination-address 8.28.65.0/24
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from destination-address 8.28.78.0/24
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from protocol udp
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from source-port 0-65535
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from destination-port 32768-65535
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP then count {{customer.upper()}}-rtp-in
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP then accept
{% for cust_rtp_ip in cust_rtp_ip_list %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP from source-address {{cust_rtp_ip}}
{%- endfor %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP from destination-address 8.28.65.0/24
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP from destination-address 8.28.78.0/24
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP from protocol icmp
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP then count {{customer.upper()}}-icmp-in
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP then accept

{% elif location == "sf" %}

--sf2jsw5--

set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from source-address 8.27.23.0/24
{%- for cust_rtp_ip in cust_rtp_ip_list %}
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from destination-address {{cust_rtp_ip}}
{%- endfor %}
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from protocol udp
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from source-port 32768-65535
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from destination-port 0-1023
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny then count ccs1-{{customer.upper()}}-rtp-deny-in
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny then discard

set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from source-address 8.27.23.0/24
{%- for cust_rtp_ip in cust_rtp_ip_list %}
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from destination-address {{cust_rtp_ip}}
{%- endfor %}
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from protocol udp
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from source-port 32768-65535
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from destination-port 0-65535
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP then count ccs1-{{customer.upper()}}-rtp-in
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP then accept

    {% if ccs1_sip == "yes" %}
    {%- for vail_ip in vail_ip_list %}
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from source-address {{vail_ip}}
    {%- endfor %}
    {%- for cust_sip_ip in cust_sip_ip_list %}
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from destination-address {{cust_sip_ip}}
    {%- endfor %}
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from protocol udp
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from source-port 5060
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from destination-port 5060
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP then count ccs2-{{customer.upper()}}-sip-in
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP then accept
    {%- for vail_ip in vail_ip_list %}
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from source-address {{vail_ip}}
    {%- endfor %}
    {%- for cust_sip_ip in cust_sip_ip_list %}
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from destination-address {{cust_sip_ip}}
    {%- endfor %}
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from protocol udp
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from is-fragment
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG then count ccs2-{{customer.upper()}}-sip-frag-in
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG then accept
    {% endif %}

set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP from source-address 8.27.23.0/24
{%- for cust_rtp_ip in cust_rtp_ip_list %}
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP from destination-address {{cust_rtp_ip}}
{%- endfor %}
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP from protocol icmp
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP then count ccs1-{{customer.upper()}}-icmp-in
set firewall family inet filter VLAN77-L3ENSIPVPN-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP then accept

insert firewall family inet filter VLAN77-L3ENSIPVPN-IN term deny_vlan77 after term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP

set firewall family inet filter sf-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from source-address 8.40.65.0/24
{%- for cust_rtp_ip in cust_rtp_ip_list %}
set firewall family inet filter sf-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from destination-address {{cust_rtp_ip}}
{%- endfor %}
set firewall family inet filter sf-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from protocol udp
set firewall family inet filter sf-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from source-port 32768-65535
set firewall family inet filter sf-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from destination-port 0-1023
set firewall family inet filter sf-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny then count ccs2-{{customer.upper()}}-rtp-deny-in
set firewall family inet filter sf-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny then discard

set firewall family inet filter sf-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from source-address 8.40.65.0/24
{%- for cust_rtp_ip in cust_rtp_ip_list %}
set firewall family inet filter sf-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from destination-address {{cust_rtp_ip}}
{%- endfor %}
set firewall family inet filter sf-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from protocol udp
set firewall family inet filter sf-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from source-port 32768-65535
set firewall family inet filter sf-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from destination-port 0-65535
set firewall family inet filter sf-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP then count ccs2-{{customer.upper()}}-rtp-in
set firewall family inet filter sf-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP then accept

    {% if ccs2_sip == "yes" %}
    {%- for vail_ip in vail_ip_list %}
set firewall family inet filter sf-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from source-address {{vail_ip}}
    {% endfor %}
    {%- for cust_sip_ip in cust_sip_ip_list %}
set firewall family inet filter sf-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from destination-address {{cust_sip_ip}}
    {%- endfor %}
set firewall family inet filter sf-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from protocol udp
set firewall family inet filter sf-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from source-port 5060
set firewall family inet filter sf-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from destination-port 5060
set firewall family inet filter sf-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP then count ccs2-{{customer.upper()}}-sip-in
set firewall family inet filter sf-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP then accept
    {%- for vail_ip in vail_ip_list %}
set firewall family inet filter sf-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from source-address {{vail_ip}}
    {%- endfor %}
    {%- for cust_sip_ip in cust_sip_ip_list %}
set firewall family inet filter sf-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from destination-address {{cust_sip_ip}}
    {%- endfor %}
set firewall family inet filter sf-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from protocol udp
set firewall family inet filter sf-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from is-fragment
set firewall family inet filter sf-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG then count ccs2-{{customer.upper()}}-sip-frag-in
set firewall family inet filter sf-ccs2-IN  term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG then accept
    {% endif %}
set firewall family inet filter sf-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP from source-address 8.40.65.0/24
{%- for cust_rtp_ip in cust_rtp_ip_list %}
set firewall family inet filter sf-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP from destination-address {{cust_rtp_ip}}
{%- endfor %}
set firewall family inet filter sf-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP from protocol icmp
set firewall family inet filter sf-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP then count ccs2-{{customer.upper()}}-icmp-in
set firewall family inet filter sf-ccs2-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP then accept

insert firewall family inet filter sf-ccs2-IN term deny_vlan277 after term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP

###################################################################################################################################################
###################################################################################################################################################

--sf2jsw2--

{% for cust_sip_ip in cust_sip_ip_list %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from source-address {{cust_sip_ip}}
{%- endfor %}
{%- for vail_ip in vail_ip_list %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from destination-address {{vail_ip}}
{%- endfor %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from protocol udp
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from source-port 5060
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP from destination-port 5060
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP then count {{customer.upper()}}-sip-in
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP then accept
{% for cust_sip_ip in cust_sip_ip_list %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from source-address {{cust_sip_ip}}
{%- endfor %}
{%- for vail_ip in vail_ip_list %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from destination-address {{vail_ip}}
{%- endfor %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from protocol udp
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG from is-fragment
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG then count {{customer.upper()}}-sip-frag-in
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-SIP-FRAG then accept
{% for cust_rtp_ip in cust_rtp_ip_list %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from source-address {{cust_rtp_ip}}
{%- endfor %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from destination-address 8.40.65.0/24
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from destination-address 8.27.23.0/24
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from protocol udp
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from source-port 0-1023
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny from destination-port 32768-65535
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny then count {{customer.upper()}}-rtp-deny-in
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP-deny then discard
{% for cust_rtp_ip in cust_rtp_ip_list %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from source-address {{cust_rtp_ip}}
{%- endfor %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from destination-address 8.40.65.0/24
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from destination-address 8.27.23.0/24
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from protocol udp
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from source-port 0-65535
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP from destination-port 32768-65535
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP then count {{customer.upper()}}-rtp-in
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-RTP then accept
{% for cust_rtp_ip in cust_rtp_ip_list %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP from source-address {{cust_rtp_ip}}
{%- endfor %}
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP from destination-address 8.40.65.0/24
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP from destination-address 8.27.23.0/24
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP from protocol icmp
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP then count {{customer.upper()}}-icmp-in
set firewall family inet filter {{customer.upper()}}-CCS-IN term {{ticket_info}}-CCS-{{customer.upper()}}-ICMP then accept


{% endif %}
