set system host-name {{hostname}}
set system time-zone {{location}}
set system authentication-order tacplus
set system authentication-order password
set system root-authentication encrypted-password "($Y/APFe5j$Y8v0KBWbldGh1Eqq1FXen1"
set system tacplus-server {{tac_server1}} port 49
set system tacplus-server {{tac_server1}} secret "$9$p/aWB1EvMXx7dhSs2oJjiHk.5nCp0IyeMtuK8Xx-d"
set system tacplus-server {{tac_server1}} source-address {{hostip}}
set system tacplus-server {{tac_server2}} port 49
set system tacplus-server {{tac_server2}} secret "$9$c4OlWXdb2oZjvMJDjkTQn/9C0B1IhvWxeK4aJGiH0B1"
set system tacplus-server {{tac_server2}} source-address {{hostip}}
set system accounting events login
set system accounting events change-log
set system accounting events interactive-commands
set system accounting destination tacplus server {{tac_server2}} secret "$9$/-mGtBRylML7V0OxdVsJZjHkq5QzF60BEpu8XxNbw5Qz"
set system accounting destination tacplus server {{tac_server2}} source-address {{hostip}}
set system accounting destination tacplus server {{tac_server1}} secret "$9$p/aWB1EvMXx7dhSs2oJjiHk.5nCp0IyeMtuK8Xx-d"
set system accounting destination tacplus server {{tac_server1}} source-address {{hostip}}
set system login message "\n*********************************************************************.\nThis system is for the use of authorized users only.\nIndividuals using this computer system without authority, or in\nexcess of their authority, are subject to having all of their\nactivities on this system monitored and recorded by system\npersonnel.\nIn the course of monitoring individuals improperly using this\nsystem, or in the course of system maintenance, the activities\nof authorized
users may also be monitored.\nAnyone using this system expressly consents to such monitoring\nand is advised that if such monitoring reveals possible\nevidence of criminal activity, system personnel may provide the\nevidence of such monitoring to law enforcement officials.\n*********************************************************************\nTo save the config to TFTP in display set format\n\nshow configuration | display set | save /var/tmp/{{hostname}}-confg\nfile copy
/var/tmp/{{hostname}}-confg {{tftp_server}}:/tftpboot/config/cl/\n"
set system login class NETADMIN idle-timeout 60
set system login class NETADMIN permissions all
set system login class OPERATIONS idle-timeout 10
set system login class OPERATIONS permissions clear
set system login class OPERATIONS permissions configure
set system login class OPERATIONS permissions interface
set system login class OPERATIONS permissions interface-control
set system login class OPERATIONS permissions view-configuration
set system login class OPERATIONS allow-commands "show|ping|traceroute"
set system login class OPERATIONS allow-configuration "edit interface"
set system login class RANCID idle-timeout 5
set system login class RANCID permissions view-configuration
set system login class RANCID allow-commands show
set system login class VNOC idle-timeout 10
set system login class VNOC permissions view-configuration
set system login class VNOC allow-commands show
set system login user aswalmeh full-name "Amin Swalmeh"
set system login user aswalmeh uid 1001
set system login user aswalmeh class NETADMIN
set system login user aswalmeh authentication encrypted-password "$6$o6COA5Or$7YB9x5t0KjE5L/UGZ7kGNKnPf1VinkRpPEjcc8xBkAZjG13bfb/28ldSfgrms8tbGaLMEkol0DcGYxuPT01mX."
set system login user netadmin full-name "Netadmin Team"
set system login user netadmin uid 100
set system login user netadmin class NETADMIN
set system login user rancid full-name "Rancid User"
set system login user rancid uid 102
set system login user rancid class RANCID
set system login user remote full-name "VNOC User"
set system login user remote uid 103
set system login user remote class VNOC
set system login user sysadmin full-name "Sysadmin Team"
set system login user sysadmin uid 101
set system login user sysadmin class OPERATIONS
set system services ssh no-tcp-forwarding
set system services ssh protocol-version v2
set system services ssh ciphers aes128-cbc
set system services ssh ciphers aes128-ctr
set system services ssh ciphers aes192-cbc
set system services ssh ciphers aes192-ctr
set system services ssh ciphers aes256-cbc
set system services ssh ciphers aes256-ctr
set system services ssh ciphers 3des-cbc
set system services dhcp traceoptions file dhcp_logfile
set system services dhcp traceoptions level all
set system services dhcp traceoptions flag all
set system syslog archive size 500k     
set system syslog archive files 5
set system syslog user * any emergency
{% for syslog in syslog_list %} 
    set system syslog host {{syslog}} any any
    set system syslog host {{syslog}} firewall info
    set system syslog host {{syslog}} match "!(/kernel: setsocketopts|DH_SVC_|Rx power high|root|CMLC|cmlc_msg|MCSNOOPD|cosd:|libasync_send_pkt|if_pfe_ge_ifdstat_ipc|ifd-oper|rt_irb_get_vrf_rt|kernel time sync)"
    set system syslog host {{syslog}} source-address {{hostip}}
{% endfor %}
set system syslog file messages any any
set system syslog file messages authorization info
set system syslog file messages match "!(/kernel: setsocketopts|DH_SVC_|Rx power high|root|CMLC|cmlc_msg|MCSNOOPD|cosd:|libasync_send_pkt|if_pfe_ge_ifdstat_ipc|ifd-oper|rt_irb_get_vrf_rt|kernel time sync|if_msg_ifd|Decode ifd)"
set system syslog file interactive-commands interactive-commands any
set system syslog file traffic-logs any any
set system syslog file traffic-logs archive size 1m
set system syslog file traffic-logs archive files 3
set system syslog file traffic-logs structured-data
set system syslog file critical-logs any critical
set system syslog file critical-logs archive size 1m
set system syslog file critical-logs archive files 3
set system syslog file critical-logs structured-data
set system archival configuration transfer-interval 2880
set system archival configuration archive-sites "scp://juniperbkp@{{tftp_server}}:/tftpboot/config/cl" password "$9$jqqfQ1IcvMXFnuB1EeKZUDiPQ9Cp0ORUj9Ap0hc-VwsJGF39"
{% for ntp in ntp_list %}
    set system ntp server {{ntp}}
    set system ntp source-address {{hostip}}
{% endfor %}
set chassis aggregated-devices ethernet device-count 8
set chassis alarm management-ethernet link-down ignore
set chassis auto-image-upgrade
set security ssh-known-hosts host {{tftp_server}} rsa-key AAAAB3NzaC1yc2EAAAABIwAAAQEA7l7I2twm91PlygaOwsmhJw4uQWkjYOsJbYtrRbCOXg8TGv1RmsXUbhyaq0d03c3u7kcf1jzWUYVoqHhoCHRdDvzFAvyn0gYh+TtAXz3jJNwYQdhJK2t8orEn0nsKhpnNV54H61IAfAfBe2aUAsNYJKaYKZimV5I/Uzo0yK2BfSQgVF8elFKApivi/nX1MQ5zOsMyh74ioBvhUw8w2rH2briAwF8Y1EDlAU1mbilAiJuJkjYyRbtk8l4BaO5wg0RmDn89CoMCOEFzySE5TYh4Zd2c+4R6itY/oWIdDTh99b+5REpfc+zdfIs2on7HLJma3FM2x3LW5Aj8MdIUa4999Q==
set interfaces ge-0/0/0 description "Link to cljsw01 ge-1-0-0"
set interfaces ge-0/0/0 ether-options 802.3ad ae1
set interfaces ge-0/0/1 description "Link to cljsw01 ge-1-0-1"
set interfaces ge-0/0/1 ether-options 802.3ad ae1
set interfaces ge-0/0/2 description conf1-sipphone.sip.cl.vail
set interfaces ge-0/0/2 unit 0 family ethernet-switching port-mode trunk
set interfaces ge-0/0/2 unit 0 family ethernet-switching vlan members clsipphone
set interfaces ge-0/0/2 unit 0 family ethernet-switching vlan members clwired
set interfaces ge-0/0/3 disable
set interfaces ge-0/0/3 unit 0 disable
set interfaces ge-0/0/3 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/4 disable
set interfaces ge-0/0/4 unit 0 disable
set interfaces ge-0/0/4 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/5 disable
set interfaces ge-0/0/5 unit 0 disable
set interfaces ge-0/0/5 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/6 disable
set interfaces ge-0/0/6 unit 0 disable
set interfaces ge-0/0/6 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/7 disable
set interfaces ge-0/0/7 unit 0 disable
set interfaces ge-0/0/7 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/8 disable
set interfaces ge-0/0/8 unit 0 disable
set interfaces ge-0/0/8 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/9 disable
set interfaces ge-0/0/9 unit 0 disable
set interfaces ge-0/0/9 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/10 disable
set interfaces ge-0/0/10 unit 0 disable
set interfaces ge-0/0/10 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/11 disable
set interfaces ge-0/0/11 unit 0 disable
set interfaces ge-0/0/11 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/12 disable
set interfaces ge-0/0/12 unit 0 disable
set interfaces ge-0/0/12 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/13 disable
set interfaces ge-0/0/13 unit 0 disable 
set interfaces ge-0/0/13 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/14 disable
set interfaces ge-0/0/14 unit 0 disable
set interfaces ge-0/0/14 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/15 disable
set interfaces ge-0/0/15 unit 0 disable
set interfaces ge-0/0/15 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/16 disable
set interfaces ge-0/0/16 unit 0 disable
set interfaces ge-0/0/16 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/17 disable
set interfaces ge-0/0/17 unit 0 disable
set interfaces ge-0/0/17 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/18 disable
set interfaces ge-0/0/18 unit 0 disable
set interfaces ge-0/0/18 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/19 disable
set interfaces ge-0/0/19 unit 0 disable
set interfaces ge-0/0/19 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/20 disable
set interfaces ge-0/0/20 unit 0 disable
set interfaces ge-0/0/20 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/21 description Camera02
set interfaces ge-0/0/21 disable
set interfaces ge-0/0/21 unit 0 disable
set interfaces ge-0/0/21 unit 0 family ethernet-switching vlan members 918
set interfaces ge-0/0/22 description Camera03
set interfaces ge-0/0/22 disable
set interfaces ge-0/0/22 unit 0 disable
set interfaces ge-0/0/22 unit 0 family ethernet-switching vlan members 918
set interfaces ge-0/0/23 description Camera04
set interfaces ge-0/0/23 disable
set interfaces ge-0/0/23 unit 0 disable
set interfaces ge-0/0/23 unit 0 family ethernet-switching vlan members 918
set interfaces ge-0/0/24 description Camera05
set interfaces ge-0/0/24 disable
set interfaces ge-0/0/24 unit 0 disable
set interfaces ge-0/0/24 unit 0 family ethernet-switching vlan members 918
set interfaces ge-0/0/25 description Camera06
set interfaces ge-0/0/25 disable
set interfaces ge-0/0/25 unit 0 disable
set interfaces ge-0/0/25 unit 0 family ethernet-switching vlan members 918
set interfaces ge-0/0/26 description clrwifiap08
set interfaces ge-0/0/26 unit 0 family ethernet-switching port-mode access
set interfaces ge-0/0/26 unit 0 family ethernet-switching vlan members clwlan
set interfaces ge-0/0/27 description clrwifiap09
set interfaces ge-0/0/27 unit 0 family ethernet-switching port-mode access
set interfaces ge-0/0/27 unit 0 family ethernet-switching vlan members clwlan
set interfaces ge-0/0/28 description clrwifiap10
set interfaces ge-0/0/28 disable
set interfaces ge-0/0/28 unit 0 disable
set interfaces ge-0/0/28 unit 0 family ethernet-switching port-mode access
set interfaces ge-0/0/28 unit 0 family ethernet-switching vlan members clwlan
set interfaces ge-0/0/29 description clrwifiap11
set interfaces ge-0/0/29 unit 0 family ethernet-switching port-mode access
set interfaces ge-0/0/29 unit 0 family ethernet-switching vlan members clwlan
set interfaces ge-0/0/30 disable
set interfaces ge-0/0/30 unit 0 disable
set interfaces ge-0/0/30 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/31 disable
set interfaces ge-0/0/31 unit 0 disable
set interfaces ge-0/0/31 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/32 disable
set interfaces ge-0/0/32 unit 0 disable
set interfaces ge-0/0/32 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/33 disable
set interfaces ge-0/0/33 unit 0 disable
set interfaces ge-0/0/33 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/34 disable
set interfaces ge-0/0/34 unit 0 disable
set interfaces ge-0/0/34 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/35 disable
set interfaces ge-0/0/35 unit 0 disable
set interfaces ge-0/0/35 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/36 description "temp link to cljswpoe0-new-ge-0/0/46"
set interfaces ge-0/0/36 ether-options 802.3ad ae2
set interfaces ge-0/0/37 description "temp link to cljswpoe1-new-ge-0/0/46"
set interfaces ge-0/0/37 ether-options 802.3ad ae3
set interfaces ge-0/0/38 disable
set interfaces ge-0/0/38 unit 0 disable
set interfaces ge-0/0/38 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/39 disable
set interfaces ge-0/0/39 unit 0 disable
set interfaces ge-0/0/39 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/40 disable
set interfaces ge-0/0/40 unit 0 disable
set interfaces ge-0/0/40 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/41 disable
set interfaces ge-0/0/41 unit 0 disable
set interfaces ge-0/0/41 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/42 disable
set interfaces ge-0/0/42 unit 0 disable
set interfaces ge-0/0/42 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/43 disable
set interfaces ge-0/0/43 unit 0 disable
set interfaces ge-0/0/43 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/44 disable
set interfaces ge-0/0/44 unit 0 disable
set interfaces ge-0/0/44 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/45 disable
set interfaces ge-0/0/45 unit 0 disable
set interfaces ge-0/0/45 unit 0 family ethernet-switching vlan members un-used
set interfaces ge-0/0/46 description "Link to cljsw00 ge-0-0-46"
set interfaces ge-0/0/46 ether-options 802.3ad ae1
set interfaces ge-0/0/47 description "Link to cljsw00 ge-0-0-47"
set interfaces ge-0/0/47 ether-options 802.3ad ae1
set interfaces ae0 disable
set interfaces ae1 description "clsjw0-{{hostname}}"
set interfaces ae1 aggregated-ether-options minimum-links 1
set interfaces ae1 aggregated-ether-options lacp active
set interfaces ae1 aggregated-ether-options lacp periodic fast
set interfaces ae1 unit 0 family ethernet-switching port-mode trunk
set interfaces ae1 unit 0 family ethernet-switching vlan members clwlan
set interfaces ae1 unit 0 family ethernet-switching vlan members clrouterlink
set interfaces ae1 unit 0 family ethernet-switching vlan members clutility
set interfaces ae1 unit 0 family ethernet-switching vlan members clsipphone
set interfaces ae1 unit 0 family ethernet-switching vlan members clwired
set interfaces ae1 unit 0 family ethernet-switching vlan members clsecutility
set interfaces ae1 unit 0 family ethernet-switching vlan members cllom
set interfaces ae1 unit 0 family ethernet-switching vlan members cljump
set interfaces ae1 unit 0 family ethernet-switching vlan members clwireless
set interfaces ae1 unit 0 family ethernet-switching vlan members clpda
set interfaces ae1 unit 0 family ethernet-switching vlan members clmgmt
set interfaces ae1 unit 0 family ethernet-switching vlan members clcardaccess
set interfaces ae2 description "TEMP link cljswpoe1-cljswpoe0-new"
set interfaces ae2 aggregated-ether-options minimum-links 1
set interfaces ae2 aggregated-ether-options lacp active
set interfaces ae2 aggregated-ether-options lacp periodic fast
set interfaces ae2 unit 0 family ethernet-switching port-mode trunk
set interfaces ae2 unit 0 family ethernet-switching vlan members clrouterlink
set interfaces ae3 description "TEMP link cljswpoe1-cljswpoe1-new"
set interfaces ae3 aggregated-ether-options minimum-links 1
set interfaces ae3 aggregated-ether-options lacp active
set interfaces ae3 aggregated-ether-options lacp periodic fast
set interfaces ae3 unit 0 family ethernet-switching port-mode trunk
set interfaces ae3 unit 0 family ethernet-switching vlan members clrouterlink
set interfaces ae4 disable
set interfaces ae5 disable
set interfaces ae6 disable
set interfaces ae7 disable
set interfaces me0 disable
set interfaces me0 unit 0 disable
set interfaces vlan unit 0 family inet dhcp vendor-id Juniper-ex2200-48p-4g
set interfaces irb unit 906 family inet filter input Interface-lo0-In
set interfaces irb unit 906 family inet address 172.23.3.5/24
set interfaces vme disable
set snmp location "Chicago, IL"
set snmp contact VailMonitorMrtg
set snmp v3 usm local-engine user snmp3user authentication-sha authentication-key "$9(iSRreNdbY2aLXGDikTQSrlMxNwYgUiksYP5Q39CKMWLVws24aUjbwmfTQ9Cp0BEhrW87bwg7Nmfz39CtuO1ylM8X7NbKvxdVb2gZUjHP5Tz3Cp0TQcyKvLX7-VsYoGUHmPQq.z69A0ORhSleWdbs4oGSraZUi.mEcSeLxbwg4JGhSeW8xdVgoJUqm"
set snmp v3 usm local-engine user snmp3user privacy-aes128 privacy-key "$9$aCJikqmfn9AF3M87-ws5Qz3tuRhSeK8RESevMXx.Pf5690ORlvWTzcyreW8aZGUqmTQn6ApzFSreKx7mf5F9A1RhclKIRrvM8dVTzF3tu0BIrKM5QnCtpB1hSre8X7-V2gJbwz3n/tpX7N-s2Dik.mT-VmfQzCAevM8NdoJGUik8X.P5z6/evML-V"
set snmp v3 vacm security-to-group security-model usm security-name snmp3user group view-all
set snmp v3 vacm access group view-all default-context-prefix security-model usm security-level privacy read-view view-all
set snmp view view-all oid .1 include
set routing-options static route 0.0.0.0/0 next-hop 172.23.3.1
set protocols igmp-snooping vlan all
set protocols rstp
set protocols lldp disable
set protocols lldp interface all
set protocols lldp-med disable
set protocols lldp-med interface all
set firewall family inet filter Interface-lo0-In term Accept-SSH from source-address 192.168.129.0/24
set firewall family inet filter Interface-lo0-In term Accept-SSH from source-address 172.20.129.0/24
set firewall family inet filter Interface-lo0-In term Accept-SSH from source-address 172.25.129.0/24
set firewall family inet filter Interface-lo0-In term Accept-SSH from source-address 172.25.150.5/32
set firewall family inet filter Interface-lo0-In term Accept-SSH from source-address 172.25.150.6/32
set firewall family inet filter Interface-lo0-In term Accept-SSH from source-address 172.20.150.5/32
set firewall family inet filter Interface-lo0-In term Accept-SSH from source-address 172.20.150.6/32
set firewall family inet filter Interface-lo0-In term Accept-SSH from source-address 172.29.8.0/26
set firewall family inet filter Interface-lo0-In term Accept-SSH from protocol tcp
set firewall family inet filter Interface-lo0-In term Accept-SSH from destination-port ssh
set firewall family inet filter Interface-lo0-In term Accept-SSH then accept
set firewall family inet filter Interface-lo0-In term Deny-SSH from protocol tcp
set firewall family inet filter Interface-lo0-In term Deny-SSH from destination-port ssh
set firewall family inet filter Interface-lo0-In term Deny-SSH then discard
set firewall family inet filter Interface-lo0-In term Accept-SNMP from source-address 172.20.130.59/32
set firewall family inet filter Interface-lo0-In term Accept-SNMP from source-address 172.20.130.91/32
set firewall family inet filter Interface-lo0-In term Accept-SNMP from source-address 172.20.142.25/32
set firewall family inet filter Interface-lo0-In term Accept-SNMP from source-address 172.25.142.25/32
set firewall family inet filter Interface-lo0-In term Accept-SNMP from protocol udp
set firewall family inet filter Interface-lo0-In term Accept-SNMP from destination-port 161
set firewall family inet filter Interface-lo0-In term Accept-SNMP from destination-port 162
set firewall family inet filter Interface-lo0-In term Accept-SNMP then accept
set firewall family inet filter Interface-lo0-In term Deny-SNMP from protocol udp
set firewall family inet filter Interface-lo0-In term Deny-SNMP from destination-port 161
set firewall family inet filter Interface-lo0-In term Deny-SNMP from destination-port 162
set firewall family inet filter Interface-lo0-In term Deny-SNMP then discard
set firewall family inet filter Interface-lo0-In term Accept-Protocol then accept
set vlans clcardaccess description "CL new card access Subnet 172.23.15.64/27"
set vlans clcardaccess vlan-id 918
set vlans clguest description "CL Guest Subnet 10.255.255.0/24"
set vlans clguest vlan-id 928
set vlans cljump description "CL Jumpstart Subnet 172.23.19.0/25"
set vlans cljump vlan-id 926
set vlans cllom description "CL LOM Subnet 172.23.17.0/24"
set vlans cllom vlan-id 921
set vlans clmgmt description "CL Router Switch OOB Management Subnet 172.23.2.0/24"
set vlans clmgmt vlan-id 907
set vlans clpda description "CL PDA Employee Subnet 172.23.28.0/23"
set vlans clpda vlan-id 925
set vlans clrouterlink description "CL Router Switch Subnet 172.23.3.0/24"
set vlans clrouterlink vlan-id 906
set vlans clrouterlink l3-interface vlan.906
set vlans clsecutility description "CL Secure utility subnet"
set vlans clsecutility vlan-id 919
set vlans clsipphone description "CL Sip Phone Subnet 172.23.18.0/24"
set vlans clsipphone vlan-id 922
set vlans clutility description "CL Utility Subnet 172.23.16.0/24"
set vlans clutility vlan-id 920
set vlans clwired description "CL Wired Employee Subnet 172.23.20.0/22"
set vlans clwired vlan-id 923
set vlans clwireless description "CL Wireless Employee Subent 172.23.24.0/22"
set vlans clwireless vlan-id 924
set vlans clwlan description "CL Controller and access Point"
set vlans clwlan vlan-id 927
set vlans default vlan-id 1
set vlans default l3-interface vlan.0
set vlans un-used vlan-id 4000
set poe interface all
set poe interface ge-0/0/28 disable
